#root {
  width: 100%;
  margin: 0;
  padding: 1rem 0.5rem;
  text-align: left;
}

.logo {
  height: 48px;
  width: auto;
}

header.app-header { margin-bottom: 1rem; }

main { padding: 1rem 0; }

.card { padding: 1rem; }

.read-the-docs { color: var(--muted); }

@media (max-width: 768px) {
  #root { padding: 1rem; }
  .nav { display:none; }
}
